body {
    font-family: sans-serif, Helvetica, Arial;
    background-color: white;
    color: black;
    padding: 10px;
    margin: 10px;
}

h1 {
    color: navy;
    
}

h1:hover {
    color: rgb(33, 33, 228);
    width: auto;
}
li {
    display: inline-block;
}
.button-class {
    width: 200px;
    background-color: grey;
    border: 2px solid  blue;
    color: whitesmoke;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 3px 2px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5;
    background-color: rgb(241, 235, 59);
    cursor: pointer;
    color: rgb(19, 12, 2);
}

.button-class:hover {
    color: rgb(255, 255, 255);
}